<div>
  <div id="<%= dom_id user %>" style = "border: solid 1px black; border-radius: 15px; padding: 5px; width: 25%">
  <p style = "text-align: center">
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p style = "text-align: center">
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  </div>
</div>
