<% content_for :title, "New user" %>

<h1>New user</h1>

<%= render "form", user: @user %>

<br>

<div>
  <button style="padding: 5px 12px; border-radius: 12px; border: none">
    <%= link_to "Back to users", users_path %>
  </button>
</div>
